{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Feathrd Directory</title>
    <link rel="icon" type="image/png" href="{% static 'waffle.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Khula" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?v0.4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
      <nav class="navbar navbar-expand-sm navbar-dark   pull-xs-right" style="background-color: #444444; font-size:14px;">
        <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static 'waffle.png' %}" style="height:30px" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto" style="position:relative; text-align:right;">
            {% if user.is_authenticated %}
            <li class="nav-item ">
              <a class="nav-link" href="/members/directory/">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{request.user}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
      </nav>

    <div class="body-container">
        {% block body %} {% endblock %}
    </div>
</body>
</html>
