{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row">
  <div class="col-md-7">
    <div class="card" style="width:100%">
      <div class="card-body">
        <h2 class="card-title">{{thisuser.first_name}} {{thisuser.last_name}}</h2>
        <br>
        <h6 class="card-subtitle mb-2 text-muted">Skills: {{thisuser.profile.skills}}</h6>
        <hr>
        <p style="margin-bottom:5px; font-size:18px;"><b>About</b></p>
        <p>{{thisuser.profile.about}}</p>
      </div>
    </div>
    <br>
    <hr>
    <h5>Projects</h5>
    <hr>
    {% for project in projects %}
    <div style="width:100%;">
        <a href="{{project.link}}" style=" font-size:18px;"><b>{{project.title}}</b></a>
        <p>{{project.about}}</p>
        <hr>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-5">
    <a class="btn btn-outline-success btn-sm" href="/post/create/">Update Progress</a>
    <a class="btn btn-outline-danger btn-sm" href="/project/create/">Add Project</a>
  </div>
</div>
</div>
{% endblock %}
